<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creative.tmdb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SeeAllPopularMovieActivity"
            android:label="@string/title_activity_see_all_popular_movie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.GalleryPosterActivity" />
        <activity android:name=".view.GalleryWallpaperActivity" />

        <service
            android:name=".downloadservice.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".view.CreditsAllCastActivity" />
        <activity android:name=".view.CreditsAllCrewActivity" />
        <activity
            android:name=".view.ViewCastMemberActivity"
            android:label="@string/title_activity_view_cast"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>